name: rclone_to_rclone
on:
  workflow_dispatch
jobs:
  AutoDownloaderProcess:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.1.0
    - name: Rclone Install
      run: curl https://rclone.org/install.sh | sudo bash

    - name: Inject Rclone
      run: |
        mkdir -p ~/.config/rclone/
        cat >  ~/.config/rclone/rclone.conf  << EOF
        ${{ secrets.RCLONE_CONF }}
        EOF



    - name: Rclone Synchronizing file
      run: |
        rclone copy ${{ secrets.S}} ${{ secrets.D}} -P --bwlimit 10M


